@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;

html {
  font-size: vw(16);
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  font-size: rem(16);
  color: $color-black;
}

img {
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none
}

svg {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

[data-only-show="pc"] {
  display: block;

  @include sp {
    display: none !important;
  }
}

[data-only-show="sp"] {
  display: none;

  @include sp {
    display: block !important;
  }
}

footer {
  color: $color-black;
  background-color: $color-white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}