@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  height: 100svh;
  color: $color-white;
  font-size: 48px;
  letter-spacing: 1px;
  font-family: nacelle;
  mix-blend-mode: difference;
  opacity: 1;

  @include sp {
    font-size: 32px;
  }
}

.caustics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  aspect-ratio: 1;
  margin-inline: auto;
  user-select: none;

  @include sp {
    width: 100%;
  }
}