@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plane {
  width: 50%;
  aspect-ratio: 1;
  margin-inline: auto;

  @include sp {
    width: 100%;
  }
}

.mv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  filter: grayscale(100%);
}